body {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
  margin: 10px calc(20%);
  font-family: Arial, sans-serif;
}

header {
  background-color: hsl(240, 100%, 35%);
  color:white;
  border: 2px solid black;
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
  padding-bottom: 50px;
}

.htop {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 calc(5%);
  gap: 20px;
}

.logo {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  flex:1, 0;
}

nav {
  display: flex;
  gap: 25px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  flex: 1, 0;
  justify-content: end;
}

.hbot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px calc(100px + 10%);
  flex-wrap: wrap;
  gap: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  flex: none;
  text-align: center;
  gap: 10px;
}

.heading1 {
  font-size: 50px;
  font-weight: bold;
}

.himg {
  width: 250px;
  height: 250px;
  flex:none;
}

a {
  text-decoration: none;
  color: inherit;
}

.himid {
  text-shadow: -1.4px 0 black, 0 1.4px black, 1.4px 0 black, 0 -1.4px black;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(60, 60%, 35%);
  padding-bottom: 60px;
  border: 1px solid black;
}

.heading2 {
  text-align: center;
  font-size: 32px;
}

.stuff {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  flex-wrap: wrap;
}

.block {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  
}

.pok {
  width: 160px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  font-size: 24px;
  text-shadow: -1.4px 0 black, 0 1.4px black, 1.4px 0 black, 0 -1.4px black;
}

.bulb {
  color: white;
  background-color: hsl(120, 100%, 35%);
}

.char {
  color: white;
  background-color: hsl(0, 100%, 35%);
}

.squir {
  color: white;
  background-color: hsl(240, 100%, 35%);
}

.lomid {
  display: flex;
  background-color: hsl(240, 00%, 35%);
  border: 1px solid black;
  flex-direction: column;
}

blockquote {
  text-align: center;
  padding-bottom: 20px;
}

.banner {
  background-color: hsl(240, 100%, 35%);
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
.signup {
  margin: 5px 0;
  width: 70px;
}

footer {
  background-color: hsl(120, 00%, 00%);
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  color: white;
}
