body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
  background-color: hsl(280, 100%, 20%);
  color:white;
  border: 2px solid whitesmoke;
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
 
}

.htop {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 calc(5%);
  gap: 20px;
}

.logo {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  flex:1, 0;
}

nav {
  display: flex;
  gap: 25px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  flex: 1, 0;
  justify-content: end;
}

.hbot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px calc(100px + 10%);
  flex-wrap: wrap;
}

.intro {
  width: 300px;
  flex: none;
  text-align: center;
}

.heading1 {
  font-size: 50px;
  font-weight: bold;
}

.himg {
  width: 250px;
  height: 200px;
  flex:none;
}

a {
  text-decoration: none;
  color: inherit;
  
}

button {
  margin: 5px 0;
}